*.log
cache
chromium
menus
pudb/saved-breakpoints*
pudb/shell-history
filezilla/lockfile
filezilla/queue.sqlite3
plugin
ibus
dconf
pulse
transmission
Seafile
kdeconnect
privateinternetaccess
Signal
Slack
autostart
Qt*
vifm/vifminfo.json
zoom*
discord
proton*
inkscape
gtk*
images/*
GIMP
bash/secret*
