[Unit]
Description=Start Avizo
PartOf=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/avizo-service

[Install]
WantedBy=sway-session.target
